a:link{
    color: #0000ff;
}
a:visited{
    color:#800080;
}
a:hover{
    color:#ff0000
}
a:active{
    color:#00ffff
}

header{
    background-color:#36454f;
    color:#ffffff;
    padding:20px;
    display: grid;
    grid-template-columns: 200px 840 200px;
    grid-template-rows: 200px 50px;
    grid-template-areas:
        ". portfolio ."
        "name . contact";
}

h1{
    grid-area: portfolio;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform:uppercase;
    font-size: 90px;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
}

#name{
    grid-area: name;
    font-size:16px;
    font-family:'Times New Roman', Times, serif;
}

#contact{
    grid-area:contact;
    text-align:right;
    font-size:16px;
    font-family:'Times New Roman', Times, serif;
}

#about{
    background-color:#f1dede;
    color:#36454f;
    padding: 20px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repear(3,1fr);
    grid-template-areas:
        "heada heada heada"
        "body body pic"
        "skills skills pic";
}

#heada{
    grid-area:heada;
}

#body{
    grid-area:body;
}

#skills{
    grid-area:skills;
}

#pic{
    grid-area:pic;
}

#specialties{
    background-color:#36454f;
    color:#ffffff;
    margin:20px;
    display: grid;
    grid-template-columns:repeat(4,200px);
    grid-template-rows:repeat(2,1fr);
    grid-template-areas: 
        "headb headb headb headb"
        "pr gd j r";
}

#headb{
    grid-area:headb;
}

#pr{
    grid-area:pr;
    color: #ffffff;
}

#gd{
    grid-area:gd;
    color:#ffffff;
}

#j{
    grid-area:j;
    color:#ffffff;
}

#r{
    grid-area:r;
    color:#ffffff;
}

footer{
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas:
        "name contactf";
}

#name2{
    grid-area:name;
}

#contactf{
    grid-area:contactf;
    text-align:center;
}

/*journalism css*/
#more {display: none;
}

#explain{
    font-style: oblique;
    background-color:#f1dede;
    padding:30px;
}

/*resume css*/
#resume{
    margin:20px auto;
}

/*slideshow*/

.slideshow{	
	margin:0;
	padding:0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.slideshow{
	display:none;
	margin:50px auto;
}
.slideshow-control{
	padding-bottom:20px;
}
.arrows{
	position:absolute;
	top:15px;
	left:0;
	z-index:100;
}
.arrow{
	float:left;
	width:13px;
	height:13px;
	margin-right:7px;
	padding-top:16px;
	overflow:hidden;
	background: url('krakatoa-master/example/theme/img/arrows.png') no-repeat;
}
.arrow-left{
	background-position: 0 0;
    size: 30px;
}
.arrow-left:hover{
	background-position:0 -16px;
}
.arrow-right{
	background-position:-20px 0;
	left:20px;
    size:30px;
}
.arrow-right:hover{
	background-position:-20px -16px;
}
.buttons{
	position:absolute;
	top:5px;
	right:0px;
	z-index:100;
}
/*
.pagination{
	float:left;
	margin:0 2px;
}
.pagination a{
	display:block;
	width:10px;
	height:0;
	padding-top:10px;
	background-position:0 0;
	overflow:hidden;
}
.pagination a:hover,
.active-button a{
	background-position:0 -30px;
}
*/