a:link{
    color: #0000ff;
}
a:visited{
    color:#800080;
}
a:hover{
    color:#ff0000
}
a:active{
    color:#00ffff
}

header{
    display:grid;
    grid-template-columns: repeat(2, 720px);
    grid-template-rows: 200px 1fr;
    grid-template-areas:
        "headline headline"
        "nav photo";
}

h1{
    grid-area:headline;
    background-color: #f2e9dd;
    padding: 20px;
    margin: 20px;
    border-top: 10px solid #3f362a;;
    color:#000435;
    font-family: 'Lobster', Verdana, serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
}

nav{
    grid-area:nav;
    background-color: #f2e9dd;
    line-height: 100px;
    padding:20px;
    margin:20px;
    font-size: 25px;
}

#photo{
    grid-area:photo;
    padding:20px;
}

#caption{
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 13px;
    color: #3f362a;
}

main{
    color: #000;
    display: grid;
    grid-template-columns: 480px 480px 480px;
    grid-template-rows: 500px 1fr;
    grid-template-areas: 
        "pic introduction introduction"
        "government people economy";
}

#introduction{
    grid-area: introduction;
    padding:20px 20px 20px 30px;
    margin:20px;
}

#photos{
    grid-area:pic;
    padding:20px 30px 20px 20px;
    margin:20px;
}

#captions{
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 13px;
    color: #3f362a;
}

#government{
    grid-area: government;
    background-color: #f2e9dd;
    padding:10px;
}

#people-and-society{
    grid-area: people;
    padding: 10px;
    border-top: 3px solid #f2e9dd;
    border-bottom:3px solid #f2e9dd;
}

#economy{
    grid-area: economy;
    background-color: #f2e9dd;
    padding: 10px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size:45px;
    font-weight: 800;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
}

p{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: ;
    font-weight:400;
}

ul{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
}

strong{
    font-weight: 700;
}

td{
    border:1px solid #3f362a;
}

th{
    border:1px solid #3f362a;
}

table{
    font-family:'Montserrat', Helvetica, sans-serif;
    font-weight:400;
    border-spacing:5px;
    border:3px solid #3f362a
}

footer{
    padding:30px 20px 10px;
    margin:20px auto 20px;
    border:5px dotted #3f362a;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    max-width: 1440px;
    grid-template-areas: 
        "a b c";
}

#a{
    grid-area:a;
}
#b{
    grid-area:b;
}
#c{
    grid-area:c;
}